.item {
    overflow: hidden;
    height: 30px;
    transition: height 0.3s ease-in-out;
}

.item:hover {
    background: lightgray;
}

label, span {
    user-select: none;
}

label, input, span {
    padding-left: 5px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.item.deleted {
    height: 0;
}