.item {
    display: table-row;
}

.item:hover {
    background: lightgray;
}

label, input, span {
    display: table-cell;
    padding-left: 5px;
}

.done {
    text-decoration: line-through;
    color: gray;
}