
.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    font-family: "Water Brush", serif;
    color: white;
}

h1 {
    margin: 10px 0;
}

footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
}